.featuredProjects {
  display: flex;
  margin: 0 10em;
  flex-direction: column;
  place-items: center;
  gap: 5em;
}

.featuredProjects-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

@media screen and (max-width: 905px) {
  .featuredProjects {
    margin: 0;
    padding: 0 1em;
    gap: 3em;
  }
  .featuredProjects-container {
    gap: 2em;
  }
}

@media screen and (max-width: 600px) {
  .featuredProjects {
    padding: 0 0.75em;
    gap: 2em;
  }
  .featuredProjects-container {
    gap: 1.5em;
  }
}
