@use './colors.scss';

.floating-social {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  right: 3em;
  ul {
    list-style: none;
    li {
      margin: 1.2em 0;
      transition: all 0.2s ease;
    }
    li::before {
      display: none;
    }
    img,
    svg {
      filter: brightness(1.01);
      height: 35px;
      width: auto;
      path {
        fill: colors.$green;
      }
    }

    li:hover {
      transform: translateY(-3px);
    }
  }
  .floating-line {
    margin: 1em 0 0 0;
    width: 3px;
    height: 6em;
    background-color: colors.$green;
  }
}
