@use './colors.scss';

.floating-social {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  right: 3em;
  ul {
    list-style: none;
    li {
      margin: 1.2em 0;
      
      a {
        display: block;
        color: colors.$green;
        transition: all 0.3s ease;
        
        &:hover {
          color: colors.$pepper;
          transform: translateY(-3px);
        }
        
        svg {
          filter: brightness(1.01);
          height: 35px;
          width: auto;
          transition: inherit;
        }
      }
    }
    li::before {
      display: none;
    }
  }
  .floating-line {
    margin: 1em 0 0 0;
    width: 3px;
    height: 6em;
    background-color: colors.$green;
  }
}
