@use './colors.scss';

.footer {
  height: 5em;
  background-color: colors.$green;
  margin-bottom: 0;
  display: flex;
  place-content: center;
  place-items: center;
  
  p {
    color: colors.$mint;
    font-size: 1rem;
    text-align: center;
  }
  
  a {
    color: colors.$mint;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    
    &:hover {
      color: colors.$black;
      text-decoration: underline;
    }
  }
}
