@use "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: colors.$mint;
}

::-webkit-scrollbar-thumb {
  background: colors.$green;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: colors.$black;
}

main {
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: colors.$mint;
  font-family: "Recoleta", "Roboto", sans-serif;
  font-weight: 300;
}

section {
  margin: 8em 0;
}

.title {
  border-bottom: colors.$green 2px dotted;
  font-size: 3rem;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

button{
  cursor: pointer;
}

p{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h1,
h3,
p {
  color: colors.$black;
}
.tags {
  li {
    border-bottom: colors.$green 2px dotted;
  }
}

.project-links,
.ftProject-links {
  a {
    svg:hover {
      path {
        fill: colors.$green;
      }
    }
  }
}

svg {
  path {
    fill: colors.$green;
  }
}

@media screen and (max-width: 900px) {
  .floating-social {
    display: none;
  }
  .floating-mail {
    display: none;
  }
}
