@use "./colors.scss";

.nav {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 10em;
  background-color: rgba(colors.$black, 0.8);
  color: colors.$mint;
  font-weight: 500;
  font-size: 17px;
  z-index: 11;
  .nav-links {
    width: 50%;
    opacity: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      a {
        color: colors.$mint;
        text-decoration: none;
      }
    }
    li::before {
      display: none;
    }
  }
  a {
    text-decoration: none;
  }
  h1 {
    color: colors.$mint;
  }
  button {
    width: 10em;
    height: 3.5em;
    color: colors.$green;
    background-color: colors.$mint;
    border: 1.5px dotted colors.$green;
    border-radius: 10px;
    font-weight: 500;
    font-family: "Roboto";
  }

  button:hover {
    cursor: pointer;
  }

  .hamburger {
    display: none;
  }

  .hamburger.closed {
    svg {
      #top,
      #middle,
      #bottom {
        transform: rotate(0deg) translate(0px, 0px);
        transition: all 0.1s ease;
      }
      path {
        fill: colors.$mint;
      }
    }
  }

  .hamburger.open {
    svg {
      #top {
        transform: rotate(45deg) translate(15%, -20%);
        transition: all 0.1s ease;
        transform-origin: top left;
      }
      #middle {
        transition: all 0.1s ease;
        opacity: 0;
      }
      #bottom {
        transition: all 0.1s ease;
        transform-origin: top left;
        transform: rotate(-45deg) translate(-45%, -15%);
      }
    }
  }

  .sidebar {
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 65vw;
    min-width: 250px;
    padding: 2em;
    top: 0;
    right: -100%;
    background: rgba(#04a174, 0.95);
    z-index: 10;
    transition: all 0.2s ease;
    .aside-links {
      place-content: center;
      display: flex;
      flex-direction: column;
      height: 60%;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      li {
        list-style: none;
        a {
          color: colors.$mint;
          text-decoration: none;
        }
      }
      li::before {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .nav {
    padding: 0.8em 2em;
    .nav-links {
      display: none;
    }
    .hamburger {
      display: flex;
      place-items: center;
      z-index: 20;
      svg {
        height: 25px;
        width: auto;
      }
    }
    .sidebar {
      .aside-links {
        font-size: 24px;
      }
      button {
        font-size: 22px;
      }
      .aside-social {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 7%;
        min-height: 80px;
        svg {
          width: 25px;
          height: auto;
          path {
            fill: colors.$mint;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .sidebar {
    display: none !important;
  }
}
