.featuredProjects {
  display: flex;
  margin: 0 5em;
  flex-direction: column;
  place-items: center;
  gap: 5em;
}

.featuredProjects-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
