@use './colors.scss';

.mywork {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 60px;
  .mywork-container {
    display: grid;
    height: auto;
    padding: 1em 0;
    width: 100%;
    place-items: center;
    place-content: center;
    grid-template: repeat(auto-fit, minmax(300px, auto)) / repeat(
        auto-fit,
        minmax(auto, 300px)
      );
    grid-auto-flow: row;
    gap: 1em;
  }
}

@media screen and (max-width: 905px) {
  .mywork {
    .mywork-container {
      grid-template: repeat(auto-fit, minmax(300px, auto)) / repeat(
          auto-fit,
          minmax(auto, 400px)
        );
    }
  }
}
